@model PizzaShop.Repository.ModelView.EmailViewModel
<div class="main">
    <!-- background image -->
    <div class="imageclass">
        <img src="~/images/dominos_background.jpg" alt="">
    </div>


    <!-- main login  -->
    <div class="formclass">
        <div class="mainformclass">
            <h1 class="h1class"> <img src="~/images/logos/pizzashop_logo.png" alt="" height="50px">PIZZASHOP</h1>

            <div class="innerformclass">

                <form class="inputlogin" method="POST" asp-action="ForgetPassword">
                    <div class="mx-3">
                        <h3>Forget Password</h3>
                        <div class=" has-validation">

                            <h6 class="mb-3">enter your email and we'll send you link to reset your password</h6>

                            <input type="text" asp-for="ToEmail" class="form-control is-valid"
                                id="validationServerUsername"
                                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                                placeholder="Email" value="@ViewBag.Email">

                            <span asp-validation-for="ToEmail" class="text-danger">@TempData["ErrorMessage"]</span>


                            @if (TempData["SuccessMessage"] != null)
                            {
                                <span asp-validation-for="ToEmail" class="text-success">@TempData["SuccessMessage"]</span>
                            }
                        </div>

                    </div>

                    <div class="m-3">
                        <button type="submit" class="loginButton">Submit</button>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a asp-action="Index" asp-controller="Home" id="emailbtn" class="text-decoration-none">back to
                            login</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        var errorMessage = '@TempData["ErrorInEmail"]';
        if (errorMessage) {
            toastr.error(errorMessage, 'Error', errorMessage { setTimeout: 3000 });
        }

        var successMessage = "@TempData["successMessage"]";
        if (successMessage) {
            toastr.success(errorMessage, 'success', { timeOut: 3000 });
        }

        setInterval(function () {
            $ajax({
                url: 'Home/ForgetPassword',
                type: 'GET',
                success: function (data) {
                    var newEmail = $data.find("#email").val();
                    $("#email").val(newEmail);
                }
            })
        }, 1000);

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
