@model PizzaShop.Repository.ModelView.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<!-- Users -->
<div class="add-user inner-container p-4 px-5">
    <div class="title mb-4">
        <h3 class="text-blue">Change Password</h3>
    </div>
    <span class="mb-3">Enter new Password to update your account credential</span>
    <div class="changePassword">

        <form method="post" asp-action="ChangePassword" asp-controller="Users" class="w-100">
            <input type="hidden" asp-for="Email" value="@ViewBag.Email " />
            <div class="col-4 mb-3 has-validation">

                <div class="position-relative password-section">
                    <input type="password" asp-for="CurrentPassword" class="form-control" id="exampleInputPassword1"
                        placeholder="current Password">
                    <div class="eye " onclick="eyeActive()">
                        <i class="bi bi-eye openeye eye inactive"></i>
                        <i class="bi bi-eye-slash closeeye eye active"></i>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="CurrentPassword"></span>
            </div>
            <div class="col-4 mb-3 has-validation">

                <div class="position-relative password-section">
                    <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword2"
                        placeholder="new Password">
                    <div class="eye z-10" onclick="eyeActive1()">
                        <i class="bi bi-eye openeye1 eye inactive"></i>
                        <i class="bi bi-eye-slash closeeye1 eye active"></i>
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-4 mb-3 has-validation">
                <div class=" position-relative password-section">
                    <div class="position-relative password-section">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="exampleInputPassword3"
                            placeholder="Confirm New Password">
                        <div class="eye z-10" onclick="eyeActive2()">
                            <i class="bi bi-eye openeye2 eye inactive"></i>
                            <i class="bi bi-eye-slash closeeye2 eye active"></i>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>

                @if (@TempData["PasswordError"] != null)
                {
                    <span class="text-danger">@TempData["PasswordError"]</span>
                }
                @if (@TempData["PasswordError1"] != null)
                {
                    <span class="text-danger">@TempData["PasswordError1"]</span>
                }
                @if (@TempData["SUCCESS"] != null)
                {
                    <span class="text-success">@TempData["changepassword"]</span>
                }
            </div>
            <div class="">
                <button type="submit" class="btn bg-blue text-white" asp-action="ChangePassword" asp-controller="Users">Submit</button>
                <a asp-action="RoleWiseBack" asp-controller="Users" class="btn border-primary text-primary">Cancel</a>
            </div>

        </form>
    </div>
</div>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var errorMessage = "@TempData["PasswordError"]";
            if (errorMessage) {
                toastr.error(errorMessage, 'Error', { timeOut: 5000 });
            }
            var errorMessage = "@TempData["changePasswordError"]";
            if (errorMessage) {
                toastr.error(errorMessage, 'Error', { timeOut: 5000 });
            }
            var successMessage = "@TempData["changepassword"]";
            if (successMessage) {
                toastr.success(successMessage, 'success', { timeOut: 5000 });
            }


        });

    </script>
}
