@model PizzaShop.Repository.ModelView.MenuWithItemsViewModel

@if (Model.Modifiers != null && Model.Modifiers.Any())
{
    <table class="table text-nowrap">
        <thead>
            <tr>
                <th><input class="form-check-input" type="checkbox" id="selectAllCheckbox"></th>
                <th>Name</th>
                <th>Unit</th>
                <th>Rate</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Modifiers)
            {
                <tr>
                    <td>
                        <input class="form-check-input item-checkbox" 
                               type="checkbox" 
                               name="selectedItemIds" 
                               data-modifierId="@i.Modifierid"
                               data-modifierName="@i.Modifiername" />
                    </td>
                    <td>@i.Modifiername</td>
                    <td>@i.Modifierunit</td>
                    <td>@i.Modifierrate</td>
                    <td><div class="mx-3">@i.Modifierquantity</div></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="d-flex align-items-center justify-content-center">No Modifiers Found</div>
}